body {
    background-color: #ffffcc;
}

.pizzas-image {
    background-image: url('/static/images/Pizza-Page-Images/Pizza-Page-Image.jpg');
    background-size: cover;
    background-position: center center;
    height: 40vh;
}

.size-buttons {
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 0px;
}

.size-buttons:hover,
.size-buttons.active {
    background-color: yellow;
    color: black;
}

.table-text {
    font-size: 28px;
}

.text-total {
    color: gold;
}

.form-button-payment {
    padding:0px;
}