{% extends 'base.html' %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/basket-page-css.css') }}">
{% endblock %}

{% block additional_js %}
    <script src="{{ url_for('static', filename='JS/pizza-page-js.js') }}"></script>
{% endblock %}

{% include "header.html" %}

{% block content %}
<div class="pizzas-image">
</div>
<br>
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
          {% if messages: %}
            {% for message in messages: %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <table class="table table-dark table-striped table-bordered table-text">
            <thead>
            <tr class="text-center">
                <th scope="col">Product</th>
                <th scope="col">Number</th>
                <th scope="col">Cost</th>
            </tr>
            </thead>
            <tbody>
                {% for data in basket: %}
                <tr class="text-center">
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}} PLN</td>
                </tr>
                {% endfor %}
                <tr class="mx-auto text-center">
                    <td><p class="text-total">Total</p></td>
                    <td colspan="2"><p class="text-total text-center">{{ total_cost }} PLN</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form action="{{ url_for('create_checkout_session') }}" class="form-button-payment" method="POST">
            <button type="submit" class="size-buttons">Go to Payment</button>
        </form>
    </div>
</div>

{% endblock %}
