{% extends 'base.html' %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pizza-page-css.css') }}">
{% endblock %}

{% block additional_js %}
    <script src="{{ url_for('static', filename='JS/pizza-page-js.js') }}"></script>
{% endblock %}

{% include "header.html" %}

{% block content %}
<div class="pizzas-image">
</div>
<div class="container">
    <table>
        <tr>
            <th>Product</th>
            <th>Cost</th>
        </tr>
        {% for data in basket: %}
        <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total:</td>
        </tr>
    </table>
</div>

{% endblock %}
