{% extends "base.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cover-css.css') }}">
{% endblock %}

{% include "header.html" %}{% with plus_sign=plus_sign %}{% endwith %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h2>Pizza</h2>
    </div>
    <div class="row">
        {% for pizza in all_pizza_data: %}
            <div class="col-xxl-3 col-lg-4 col-md-6 my-2">
                    <img class="pizzas-images" src="{{ url_for('static', filename='images/Pizzas-Images/' + pizza.image) }}" alt="navbar-pizza-img">
                    <div class="pizza-detail-box px-2">
                        <div>
                            <h3>{{ pizza.name }}</h3>
                        </div>
                        <br>
                        <div>
                            <p class="truncate-text">{{ pizza.ingredients }}</p>
                        </div>
                        <div>
                            <form action="{{ url_for('pizza_page', pizza_name=pizza.name, pizza_cost=pizza.price) }}" method="POST">
                                <h4 class="pizzas-price">{{ pizza.price }} PLN</h4>
                                <button class="add-button" type="submit" style="margin-left: 3vh;">Add Pizza</button>
                            </form>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

