{% extends "base.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cover-css.css') }}">
{% endblock %}

{% include "header.html" %}{% with plus_sign=plus_sign %}{% endwith %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h2>Pizza</h2>
    </div>
    <div class="row">
        {% for n in range(data_length): %}
            <div class="col-xxl-3 col-lg-4 col-md-6 my-2">
                    <img class="pizzas-images" src="{{ all_pizza_data[n]['images'][0] }}" alt="navbar-pizza-img">
                    <div class="pizza-detail-box px-2">
                        <div>
                            <h3>{{ all_pizza_data[n]['name'] }}</h3>
                        </div>
                        <br>
                        <div>
                            <p class="truncate-text">{{ all_pizza_data[n]['description'] }}</p>
                        </div>
                        <div>
                            <form action="{{ url_for('pizza_page', pizza_name=all_pizza_data[n]['name'], pizza_cost=price_list[n]['nickname']) }}" method="POST">
                                <h4 class="pizzas-price">{{ price_list[n]['nickname'] }} PLN</h4>
                                <button class="add-button" type="submit" style="margin-left: 3vh;">Add Pizza</button>
                            </form>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

