{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block additional_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/login_page.css')}}">
{% endblock %}

{% include 'header.html' %}

{% block content%}
<div class="login-background-img">
    <div class="container d-flex p-3 flex-column justify-content-center image-div-height">
        <div class="mx-auto text-center cover-image-text">
            <h1>Welcome to Delicious Pizza.</h1>
            <h3>To proceed with payments you have to be login!</h3>
        </div>
    </div>
</div>
<div class="container">
    {{wtf.quick_form(form, novalidate=True, button_map={'Login': 'btn submit-custom'}) }}
    {% with messages = get_flashed_messages() %}
        {% if messages: %}
            {% for message in messages:%}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock%}