{% extends 'base.html' %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/pizza-page-css.css') }}">
{% endblock %}

{% block additional_js %}
    <script src="{{ url_for('static', filename='JS/pizza-page-js.js') }}"></script>
{% endblock %}

{% include "header.html" %}

{% block content %}
<div class="pizzas-image">
</div>
<div class="row text-center your-pizza">
    <h2>Your Pizza: {{pizza_name}} <span id="pizza_cost">{{pizza_cost}}</span> PLN</h2>
</div>
<div class="container">
    <div class="row text-center">
        <h2>Chose Size</h2>
        <div class="mx-auto">
            <button class="size-buttons size-option" data-option="size" data-price="0" data-sign="Small"><b>Small</b></button>
            <button class="size-buttons size-option" data-option="size" data-price="4" data-sign="Medium"><b>Medium</b></button>
            <button class="size-buttons size-option" data-option="size" data-price="8" data-sign="Big"><b>Big</b></button>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <h2>Chose Dough</h2>
        <div class="mx-auto">
            <button class="size-buttons dough-option" data-option="dough" data-price="0" data-sign="Thin"><b>Thin</b></button>
            <button class="size-buttons dough-option" data-option="dough" data-price="2" data-sign="Thick"><b>Thick</b></button>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <h2>How many Pizzas:</h2>
        <div class="mx-auto">
            <button class="size-buttons decrement">-</button>
            <span id="number">1</span>
            <button class="size-buttons increment">+</button>
            <form method="post" action="{{ url_for('main_page', pizza_name=pizza_name) }}">
                <input type="hidden" name="total_pizza_cost" id="total_pizza_cost" value="{{ pizza_cost }}">
                <input type="hidden" name="total_pizza_number" id="total_pizza_number" value="{{ number }}">
                <button class="ready-buttons" type="submit">Add Pizza</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
